.navigation {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    margin: auto; /* Auto margins for automatic centering */
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Sometype Mono', monospace;

    .logo-container {
        height: 100%;
        width: 70px;
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-links-container {
        display: flex;
        align-items: center;
        justify-content: center; /* Center the nav links */

        .nav-link {
            padding: 10px 15px;
            cursor: pointer;
            color: #333;
            // text-transform: uppercase;
            font-weight: bold;
            transition: color 0.3s ease;

            &:hover {
                color: #0ed81faa;
                // text-decoration: underline;
            }
        }
    }
}
